* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  justify-content: center;
  font-family: sans-serif;
  background: #d8d8d8;
  min-height: 100vh;
  padding: 20px;
  display: flex;
}

li {
  list-style: none;
}

.container {
  width: 600px;
}

.search-container {
  margin-bottom: 220px;
  position: relative;
  width: 100%;
}

.search-input {
  border: 2px solid #a9a9a9;
  margin-bottom: 5px;
  min-width: 300px;
  font-size: 20px;
  padding: 10px;
}

.search-input::placeholder {
  color: #a9a9a9;
}

.autocomplete-results {
  border: 2px solid #a9a9a9;
  background: #ffffff;
  position: absolute;
  max-height: 200px;
  overflow: auto;
  width: 100%;
  z-index: 1;
}

.result-item {
  padding: 10px 15px;
  cursor: pointer;
}

.search-history-title-container {
  border-bottom: 1px solid #a9a9a9;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  display: flex;
}

.clear-history {
  text-decoration: underline;
  text-align: end;
  cursor: pointer;
}

.history-container {
  border-bottom: 1px solid #a9a9a9;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  display: flex;
}

.history-item {
  max-width: 350px;
}

.history-item-info {
  align-items: center;
  color: #a9a9a9;
  display: flex;
}

.delete-button {
  background: transparent;
  margin-left: 10px;
  color: #a9a9a9;
  cursor: pointer;
  font-size: 20px;
  border: none;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 720px) {
  .history-item-info {
    max-width: 110px;
  }
}
